<template name="error">

    <!-- <div class="back-link">
        <a href="/" class="btn btn-accent">Back to Dashboard</a>
    </div> -->

    <div class="container-center md animated slideInDown">

        <div class="view-header">
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-close-circle"></i>
            </div>
            <div class="header-title">
                <h3>404</h3>
                <small>
                    Page Not Found
                </small>
            </div>
        </div>

        <div class="panel panel-filled">
            <div class="panel-body">
                Sorry, but the page you are looking for has not been found. The link you followed may be incorrect.
            </div>
        </div>
        <div>
            <a href="/" class="btn btn-accent">Back to app</a>
        </div>

    </div>

</template>
