<template name="login">

  <div class="back-link">
    <a href="/" class="btn btn-accent">Back to Dashboard</a>
  </div>

  <div class="container-center animated slideInDown">

    <div class="view-header">
      <div class="header-icon">
        <i class="pe page-header-icon pe-7s-unlock"></i>
      </div>
      <div class="header-title">
        <h3>Login</h3>
        <small>
            Please enter your credentials to login.
        </small>
      </div>
    </div>

    <div class="panel panel-filled">
      <div class="panel-body">
        <form id="login">
          <div class="form-group">
            <label class="control-label" for="loginUser">Username or Email</label>
            <input type="text" title="Please enter your registered username or email address" required="required" value="" name="loginUser" id="loginUser" class="form-control">
            <span class="help-block small">Your registered username or email address</span>
          </div>
          <div class="form-group">
            <label class="control-label" for="password">Password</label>
            <input type="password" title="Please enter your password" required="required" name="password" id="password" class="form-control">
            <span class="help-block small">Your account password</span>
          </div>
          <div>
            <button type="submit" class="btn btn-accent loginButton">Log In</button>
            <a class="btn btn-default" href="/register">Register</a>
          </div>
        </form>
      </div>
    </div>

  </div>

</template>
