<template name="register">

  <div class="back-link">
    <a href="/" class="btn btn-accent">Back to Dashboard</a>
  </div>

  <div class="container-center lg animated slideInDown">


    <div class="view-header">
      <div class="header-icon">
        <i class="pe page-header-icon pe-7s-add-user"></i>
      </div>
      <div class="header-title">
        <h3>Register</h3>
        <small>
            Please enter your details to register.
        </small>
      </div>
    </div>

    <div class="panel panel-filled">
      <div class="panel-body">
        <p>

        </p>
        <form action="/" id="register">
          <div class="row">
            <div class="form-group col-lg-3">
              <label>Your first name</label>
              <input type="text" id="firstName" class="form-control" name="firstName">
              <span class="help-block small">Your first name (optional)</span>
            </div>
            <div class="form-group col-lg-3">
              <label>Your last name</label>
              <input type="text" id="lastName" class="form-control" name="lastName">
              <span class="help-block small">Your last name (optional)</span>
            </div>
            <div class="form-group col-lg-6">
              <label>Email Address</label>
              <input type="email" id="emailAddress" class="form-control" name="emailAddress">
              <span class="help-block small">Your email</span>
            </div>
            <div class="form-group col-lg-6">
              <label>Username</label>
              <input type="text" id="" class="form-control" name="username">
              <span class="help-block small">Your username</span>
            </div>
            <div class="form-group col-lg-6">
              <label>Password</label>
              <input type="password" id="" class="form-control" name="password">
              <span class="help-block small">Your hard to guess password</span>
            </div>
            <!-- <div class="form-group col-lg-6">
              <label>Repeat Password</label>
              <input type="password" value="" id="" class="form-control" name="">
              <span class="help-block small">Please repeat your pasword</span>
            </div> -->

          </div>
          <div>
            <button class="btn btn-accent" type="submit">Register</button>
            <a class="btn btn-default" href="/login">Login</a>
          </div>
        </form>
      </div>
    </div>

  </div>

</template>
