.form-control {

  color: @color-font;
  border: 1px darken(@color-accent, 35%) solid;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  background-color: darken(@background-light-color, 5%);

  &:focus {

    outline: none;
    border-color: darken(@color-info, 10%);
    box-shadow: 0 0 10px lighten(@color-info, 10%);
  }
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: darken(@background-light-color, 10%);
  opacity: 1;
}

.navbar-form .form-control {
  background-color: #ffffff;
}


.has-success .checkbox, .has-success .checkbox-inline, .has-success .control-label, .has-success .help-block, .has-success .radio, .has-success .radio-inline, .has-success.checkbox label, .has-success.checkbox-inline label, .has-success.radio label, .has-success.radio-inline label {
  color: darken(@color-success, 10%);
}

.has-warning .checkbox, .has-warning .checkbox-inline, .has-warning .control-label, .has-warning .help-block, .has-warning .radio, .has-warning .radio-inline, .has-warning.checkbox label, .has-warning.checkbox-inline label, .has-warning.radio label, .has-warning.radio-inline label {
  color: darken(@color-warning, 10%);
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
  color: darken(@color-danger, 10%);
}

.has-success .form-control {
  border-color: darken(@color-success, 10%);
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.has-warning .form-control {
  border-color: darken(@color-warning, 10%);
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.has-error .form-control {
  border-color: darken(@color-danger, 10%);
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.styled-select select {
   background: darken(@background-light-color, 2%);
   color: @color-font;
   border: 1px darken(@color-accent, 35%) solid;
   border-radius: 2px;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}
