.modal-content {

  background-color: darken(@background-color, 6%);

  .modal-title {
    font-size: 22px;
  }

  .modal-header {
    border-color: @border-color;
    background-color: darken(@background-color, 8%);
    padding: 40px 20px;

  }

  .modal-body {
    padding: 40px;
  }

  .modal-footer {
    border-color: @border-color;
    background-color: darken(@background-color, 8%);
    padding: 20px;
  }

  .close {
    opacity: 0.5;
    color: #fff;
  }
  .close:hover {
    opacity: 1;
  }
}

.modal-backdrop.in {
  filter: alpha(opacity=10);
  opacity: .5;
}
