<template name="formElements">


    <div class="container-fluid">

        {{> pageHeader category='Form elements' section='UI Elements' title='Forms' icon="pe-7s-note2" desc='Examples of various form controls.' }}


        <div class="row">

            <div class="col-md-6">
                <div class="panel panel-filled">
                    <div class="panel-heading">
                        {{>panelTools }}
                        Basic example
                    </div>
                    <div class="panel-body">

                        <p>Individual form controls automatically receive some global styling. All textual <code>&lt;input&gt;</code>, <code>&lt;textarea&gt;</code>, and <code>&lt;select&gt;</code> elements with <code>.form-control</code> are set to <code>width: 100%;</code> by default. Wrap labels and controls in <code>.form-group</code> for optimum spacing.</p>

                        <form>
                            <div class="form-group"><label for="exampleInputEmail1">Email address</label> <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"></div>
                            <div class="form-group"><label for="exampleInputPassword1">Password</label> <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"></div>
                            <div class="form-group"><label for="exampleInputFile">File input</label> <input type="file" id="exampleInputFile">

                                <p class="help-block">Example block-level help text here.</p></div>
                            <div class="checkbox"><label> <input type="checkbox"> Check me out </label></div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="panel panel-filled">
                    <div class="panel-heading">
                        {{>panelTools }}
                        Horizontal form
                    </div>
                    <div class="panel-body">

                        <p>Use Bootstrap's predefined grid classes to align labels and groups of form controls in a horizontal layout by adding <code>.form-horizontal</code> to the form (which doesn't have to be a <code>&lt;form&gt;</code>). Doing so changes <code>.form-group</code>s to behave as grid rows, so no need for <code>.row</code>.</p>

                        <form class="form-horizontal">
                            <div class="form-group"><label for="inputEmail3" class="col-sm-2 control-label">Email</label>

                                <div class="col-sm-10"><input type="email" class="form-control" id="inputEmail3" placeholder="Email"></div>
                            </div>
                            <div class="form-group"><label for="inputPassword3" class="col-sm-2 control-label">Password</label>

                                <div class="col-sm-10"><input type="password" class="form-control" id="inputPassword3" placeholder="Password"></div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel panel-filled">
                    <div class="panel-heading">
                        {{>panelTools }}
                        Inline form
                    </div>
                    <div class="panel-body">
                        <p>Add <code>.form-inline</code> to your form (which doesn't have to be a <code>&lt;form&gt;</code>) for left-aligned and inline-block controls. <strong>This only applies to forms within viewports that are at least 768px wide.</strong></p>

                        <form class="form-inline">
                            <div class="form-group"><label for="exampleInputName2">Name</label> <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe"></div>
                            <div class="form-group"><label for="exampleInputEmail2">Email</label> <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-filled">
                    <div class="panel-heading">
                        {{>panelTools }}
                        Supported controls
                    </div>
                    <div class="panel-body">

                        <p>Most common form control, text-based input fields. Includes support for all HTML5 types: <code>text</code>, <code>password</code>, <code>datetime</code>, <code>datetime-local</code>, <code>date</code>, <code>month</code>, <code>time</code>, <code>week</code>, <code>number</code>, <code>email</code>, <code>url</code>, <code>search</code>, <code>tel</code>, and <code>color</code>.</p>


                        <div class="row">
                            <div class="col-lg-6">

                                <form>
                                    <div class=form-group>
                                        <label>Basic input</label>
                                        <input type="text" class="form-control" placeholder="Text input">
                                    </div>
                                </form>

                            </div>
                            <div class="col-lg-6">
                                <form>
                                    <div class=form-group>
                                        <label>Textarea</label>
                                        <textarea class="form-control" rows="3" placeholder="Textarea example text"></textarea>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">

                                <form>
                                    <div class=form-group>
                                        <label>Checkbox</label>
                                    </div>
                                    <div class="checkbox"><label> <input type="checkbox" value=""> Option one is this and that—be sure to include why it's great </label></div>
                                    <div class="checkbox disabled"><label> <input type="checkbox" value="" disabled="disabled"> Option two is disabled </label></div>

                                    <div class="radio"><label> <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="checked"> Option one is this and that—be sure to include why it's great </label></div>
                                    <div class="radio"><label> <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Option two can be something else and selecting it will deselect option one </label></div>
                                    <div class="radio disabled"><label> <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled="disabled"> Option three is disabled </label></div>
                                </form>

                            </div>
                            <div class="col-lg-6">
                                <form>
                                    <div class=form-group>
                                        <label>Selects</label>
                                    </div>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <br/>
                                    <select multiple class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-6">
                <div class="panel panel-filled">
                    <div class="panel-heading">
                        {{>panelTools }}
                        Control sizing
                    </div>
                    <div class="panel-body">

                        <p>Set heights using classes like <code>.input-lg</code>, and set widths using grid column classes like <code>.col-lg-*</code>.</p>

                        <form>
                            <input class="form-control input-lg m-t-sm" type="text" placeholder=".input-lg">
                            <input class="form-control m-t-sm" type="text" placeholder="Default input">
                            <input class="form-control input-sm m-t-sm" type="text" placeholder=".input-sm">

                        </form>

                    </div>
                </div>

            </div>
            <div class="col-lg-6">

                <div class="panel panel-filled">
                    <div class="panel-heading">
                        {{>panelTools }}
                        Disabled state
                    </div>
                    <div class="panel-body">

                        <p>Add the <code>disabled</code> boolean attribute on an input to prevent user interactions. Disabled inputs appear lighter and add a <code>not-allowed</code> cursor.</p>

                        <form>
                            <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>


</template>
