<template name="header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <div id="mobile-menu">
          <div class="left-nav-toggle">
            <a href="">
              <i class="stroke-hamburgermenu"></i>
            </a>
          </div>
        </div>
        <a class="navbar-brand" href="#">
          Git List
          <span>v1.0.0</span>
        </a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <div class="left-nav-toggle">
          <a href="">
            <i class="stroke-hamburgermenu"></i>
          </a>
        </div>
        <form class="navbar-form navbar-left">
          {{#if getState 'loading'}}
            <input type="text" class="form-control search-data" placeholder="No data available to search" style="width: 200px;" disabled="disabled">
          {{else}}
            <input type="text" class="form-control search-data" placeholder="Search this data for..." style="width: 200px;">
          {{/if}}
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown profile-link">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="profile-address">{{getUser}}</span>&nbsp;<span class="caret"></span>
              <!-- <img src="images/profile.jpg" class="img-circle" />  -->
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
              <li>
                <a href="#" class="logout">
                  <i class="fa fa-sign-out"></i> Log out
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</template>
