<template name="navigation">

  <aside class="navigation">
    <nav>
      <ul class="nav luna-nav">
        <li class="nav-category">
          Main
        </li>
        <li class="{{isActivePath '/dashboard'}}">
          <a href="/dashboard">Dashboard</a>
        </li>

        <li class="nav-info">
          <i class="pe pe-7s-shield text-accent"></i>
          <div class="m-t-xs">
            <span class="c-white">BASE Starter</span>. For help, email jonnyharp@gmail.com
          </div>
        </li>
      </ul>
    </nav>
  </aside>

</template>
