<template name="pageHeader">

  <div class="row">
    <div class="col-lg-12">
      <div class="view-header">
        <div class="pull-right text-right" style="line-height: 14px">
          <small>{{category}}<br>{{section}}<br> <span class="c-white">{{title}}</span></small>
        </div>
        <div class="header-icon">
          <i class="pe page-header-icon {{icon}}"></i>
        </div>
        <div class="header-title">
          <h3>{{title}}</h3>
          <small>
              {{desc}}
          </small>
        </div>
      </div>
      <hr>
    </div>
  </div>

</template>
