<template name="panelTools">
  <div class="panel-tools">
    <!-- <div class="form-group form-inline display-inline">
      <i class="fa fa-search input-group-addon" aria-hidden="true"></i>
      <input type="search" class="form-control input-sm search-data" placeholder="Search this data...">
    </div> -->


    <a class="panel-toggle"><i class="fa fa-chevron-up"></i></a>
    <a class="panel-close"><i class="fa fa-times"></i></a>

</div>
</template>
