<template name="timeline">

    <div class="container-fluid">

        {{> pageHeader category='Extras' section='General' title='Timeline' icon="pe-7s-date" desc='Present your events in timeline style.' }}


        <div class="row">

            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        {{>panelTools }}
                        Timeline example
                    </div>
                    <div class="panel-body">


                        <div class="v-timeline vertical-container">
                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="vertical-timeline-content">
                                    <div class="p-sm">
                                        <span class="vertical-date pull-right"> Saturday <br/> <small>12:17:43 PM</small> </span>

                                        <h2>It is a long established fact</h2>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                        </p>
                                    </div>
                                    <div class="panel-footer">
                                        It is a long established fact that
                                    </div>
                                </div>
                            </div>
                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon ">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="vertical-timeline-content">
                                    <div class="p-sm">
                                        <span class="vertical-date pull-right"> Saturday <br/> <small>12:17:43 PM</small> </span>

                                        <h2>There are many variations</h2>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                        </p>
                                    </div>
                                    <div class="panel-footer">
                                        It is a long established fact that
                                    </div>
                                </div>
                            </div>
                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="vertical-timeline-content">
                                    <div class="p-sm">
                                        <span class="vertical-date pull-right"> Saturday <br/> <small>12:17:43 PM</small> </span>

                                        <h2>Contrary to popular belief</h2>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                        </p>
                                    </div>
                                    <div class="panel-footer">
                                        It is a long established fact that
                                    </div>
                                </div>
                            </div>
                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="vertical-timeline-content">
                                    <div class="p-sm">
                                        <span class="vertical-date pull-right"> Saturday <br/> <small>12:17:43 PM</small> </span>

                                        <h2>The generated Lorem Ipsum</h2>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                        </p>
                                    </div>
                                    <div class="panel-footer">
                                        It is a long established fact that
                                    </div>
                                </div>
                            </div>
                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="vertical-timeline-content">
                                    <div class="p-sm">
                                        <span class="vertical-date pull-right"> Saturday <br/> <small>12:17:43 PM</small> </span>

                                        <h2>The standard chunk</h2>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                        </p>
                                    </div>
                                    <div class="panel-footer">
                                        It is a long established fact that
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </div>

</template>