<template name="editSupplierModal">
  <div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        {{#if getState 'loading'}}
          {{>loading}}
        {{else}}
          <div class="modal-header text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{title}}</h4>
          </div>
          <div class="modal-body">
            {{#with getSupplier supplierId}}
              <form class="form-horizontal" id="editSupplierForm">
                  <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Name:</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="name" name="name" value="{{this.name}}" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="monthsOpen" class="col-sm-2 control-label">Number of months open:</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control" id="monthsOpen" min="0" step="1" name="monthsOpen" value="{{this.numberOfMonthsOpen}}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="aliexpressScore" class="col-sm-2 control-label">AliExpress score:</label>
                    <div class="col-sm-10">
                      <input type="number" class="form-control" id="aliexpressScore" min="0" name="aliexpressScore" value="{{this.aliexpressScore}}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="aliexpressRating" class="col-sm-2 control-label">AliExpress rating:</label>
                    <div class="col-sm-10">
                      <input type="number" step="0.1" min="0" class="form-control" id="aliexpressRating" name="aliexpressRating" value="{{this.aliexpressRating}}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="aliexpressLink" class="col-sm-2 control-label">AliExpress link</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="aliexpressLink" name="aliexpressLink" value="{{this.aliexpressLink}}">
                    </div>
                  </div>
              </form>
            {{/with}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button class="btn btn-success btn-accent" type="submit" form="editSupplierForm">Save changes</button>
          </div>
        {{/if}}
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>
