<template name="dashboard">

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <div class="view-header">
                        <div class="pull-right text-right" style="line-height: 14px">
                            <small>Git Repo List<br>Dashboard<br> <span class="c-white">v.1.0</span></small>
                        </div>
                        <div class="header-icon">
                            <i class="pe page-header-icon pe-7s-shield"></i>
                        </div>
                        <div class="header-title">
                            <h3 class="m-b-xs">Git Repo List</h3>
                            <small>
                                by Jonathon Harper
                            </small>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="row">

                  <div class="col-md-12">
                      <div class="panel">
                          <div class="panel-heading">
                              {{>panelTools }}
                              Search Github for Repositories
                          </div>
                          <div class="panel-body">
                            <form class="form-inline" id="searchGithub">
                                <div class="form-group">
                                  <label for="search">Search term: </label>
                                  <input type="text" class="form-control" id="search" name="search" required>
                                </div>
                                <div class="form-group">
                                  <input type="submit" class="btn btn-success btn-outline" form="searchGithub">
                                </div>
                            </form>
                            <div class="table-responsive">
                              {{#if getState 'githubSearchLoading'}}
                                {{>loading}}
                              {{else}}
                                <table cellpadding="1" cellspacing="1" class="table table-hover table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Repo Name</th>
                                        <th style="width: 25%">Description</th>
                                        <th>Language</th>
                                        <th>Number of Stars</th>
                                        <th>Last Commit</th>
                                        <th>Github Link</th>
                                        <th>Add to List</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#each result in githubSearchResults}}
                                      <tr data-id="{{@index}}" class="search-result">
                                        <td>{{result.name}}</td>
                                        <td>{{result.description}}</td>
                                        <td>{{result.language}}</td>
                                        <td>{{result.stargazers_count}}</td>
                                        <td>{{formatDate result.pushed_at}}</td>
                                        <td><a href="{{result.html_url}}" target="_blank" title="View the {{result.name}} repo on Github">View on Github</a></td>
                                        <td><button class="btn btn-md btn-success add-repo">Add</button></td>
                                      </tr>
                                    {{/each}}
                                  </tbody>
                                </table>
                              {{/if}}
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>
            <div class="row">

                  <div class="col-md-12">
                      <div class="panel">
                          <div class="panel-heading">
                              {{>panelTools }}
                              List of Github Repos
                          </div>
                          <div class="panel-body">
                            {{#if getState 'loading'}}
                              {{>loading}}
                            {{else}}

                              <p>List of useful Github repositories.</p>

                              <div class="table-responsive">
                                  <table cellpadding="1" cellspacing="1" class="table table-hover table-striped table-bordered">
                                      <thead>
                                      <tr>
                                          <th>Repo Name</th>
                                          <th style="width: 25%">Description</th>
                                          <th>Language</th>
                                          <th>Total Thumbs Up</th>
                                          <th>Thumb Score</th>
                                          <th>Number of Stars</th>
                                          <th>Last Commit</th>
                                          <th>Added By</th>
                                          <th>Tools</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                        {{#each item in listItems}}
                                        <tr data-id="{{item._id}}" class="item-row">
                                          <td>{{item.name}}</td>
                                          <td>{{item.description}}</td>
                                          <td>{{item.language}}</td>
                                          <td>{{item.thumbsUp}}</td>
                                          <td>{{difference item.thumbsUp item.thumbsDown}}</td>
                                          <td>{{item.stars}}</td>
                                          <td>{{formatDate item.lastCommit}}</td>
                                          <td>{{getUsername item.creatorId}}</td>
                                          <td>
                                            <div class="btn-group" role="group" aria-label="Tools">
                                              <a href="{{item.githubLink}}" class="btn btn-info" target="_blank" title="View the {{item.name}} repo on Github"><i class="fa fa-github" aria-hidden="true"></i></a>
                                              <button type="button" class="btn btn-success thumbs-up" title="Thumbs Up"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                                              <button type="button" class="btn btn-warning thumbs-down" title="Thumbs Down"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
                                            </div>
                                            <div class="btn-group" role="group" aria-label="Tools">
                                              <button type="button" class="btn btn-danger delete" title="Delete this item"><span class="pe-7s-trash"></span></button>
                                            </div>
                                          </td>
                                        </tr>
                                        {{/each}}
                                      </tbody>
                                  </table>
                              </div>
                            {{/if}}
                          </div>
                      </div>
                  </div>

            </div>

  </div>

</template>
