<template name="products">

    <div class="container-fluid">

        {{> pageHeader category='YLT Fidget' section='Management' title='Products' icon="pe-7s-box2" desc='YLT Fidget - our current AliExpress products.' }}

        <div class="row">
          <div class="col-md-12">
              <div class="panel panel-filled panel-c-success">
                  <div class="panel-heading">
                    {{>panelTools }}
                    <h3>Add a new product</h3>
                  </div>

                  <div class="panel-body">
                      <form class="form-inline" id="newProductForm">
                          <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control input-lg" id="name" name="name" placeholder="Cake" required>
                          </div>
                          <div class="form-group">
                            <label for="supplier">Supplier:</label>
                            <span class="styled-select">
                              <select id="supplier" name="supplier" class="form-control input-lg" required>
                                <option>Select</option>
                                {{#each supplier in suppliers}}
                                  <option value="{{supplier._id}}">{{supplier.name}}</option>
                                {{/each}}
                              </select>
                            </span>
                          </div>
                          <div class="form-group">
                            <label for="cost">Cost:</label>
                            <input type="number" step="0.01" class="form-control input-lg" id="cost" name="cost">
                          </div>
                          <div class="form-group">
                            <label for="retail">Retail price:</label>
                            <input type="number" step="0.01" class="form-control input-lg" id="retail" name="retail">
                          </div>
                          <div class="form-group">
                            <label for="compareAtPrice">Compare-at price:</label>
                            <input type="number" step="0.01" class="form-control input-lg" id="compareAtPrice" name="compareAtPrice">
                          </div>
                          <div class="form-group">
                            <label for="epacket">ePacket delivery?</label>
                            <input type="checkbox" name="epacket" value="true">
                          </div>
                          <div class="form-group">
                            <label for="epacketCost">ePacket cost:</label>
                            <input type="number" step="0.01" class="form-control input-lg" id="epacketCost" name="epacketCost">
                          </div>
                          <div class="form-group">
                            <label for="tracked">Tracked delivery?</label>
                            <input type="checkbox" name="tracked" value="true">
                          </div>
                          <div class="form-group">
                            <label for="trackedCost">Tracked cost:</label>
                            <input type="number" step="0.01" class="form-control input-lg" id="trackedCost" name="trackedCost">
                          </div>
                          <div class="form-group">
                            <label for="shopifyLink">Shopify link:</label>
                            <input type="string" class="form-control input-lg" id="shopifyLink" name="shopifyLink">
                          </div>
                          <div class="form-group">
                            <label for="oberloLink">Oberlo link:</label>
                            <input type="string" class="form-control input-lg" id="oberloLink" name="oberloLink">
                          </div>
                          <div class="form-group">
                            <label for="status">Status:</label>
                            <span class="styled-select">
                              <select id="status" class="form-control input-lg" name="status">
                                <option value="active">Active</option>
                                <option value="inactive">Inactive</option>
                                <option value="removed">Removed</option>
                                <option value="oos">Out of Stock</option>
                              </select>
                            </span>
                          </div>
                          <button type="submit" class="btn btn-success btn-md save">Save</button>
                      </form>
                  </div>
              </div>
          </div>

            <div class="col-md-12">
                <div class="panel panel-filled panel-c-info">
                    <div class="panel-heading">
                        {{>panelTools }}
                        <h3>Current products</h3>
                    </div>

                    <div class="panel-body">

                        <div class="table-responsive">
                          <div class="form-group pull-right">
                              <input type="text" class="search-products form-control" placeholder="Search this table...">
                          </div>
                          {{#if getState 'loading'}}
                            {{>loading}}
                          {{else}}
                            <table cellpadding="1" cellspacing="1" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Cost</th>
                                    <th>Retail Price</th>
                                    <th>Compare-at Price</th>
                                    <th>Markup</th>
                                    <th>Net Margin</th>
                                    <th>Tracked</th>
                                    <th>Tracked Cost</th>
                                    <th>ePacket</th>
                                    <th>ePacket Cost</th>
                                    <th>Supplier</th>
                                    <th>Status</th>
                                    <th>Tools &amp; Links</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each product in products}}
                                  <tr data-id="{{product._id}}" class="productRow">
                                    <td>
                                      {{#if product.name}}{{product.name}}{{else}}N/A{{/if}}
                                    </td>
                                    <td>{{#if product.supplierPrice}}&pound;{{product.supplierPrice}}{{else}}N/A{{/if}}</td>
                                    <td>{{#if product.retailPrice}}&pound;{{product.retailPrice}}{{else}}N/A{{/if}}</td>
                                    <td>{{#if product.compareAtPrice}}&pound;{{product.compareAtPrice}}{{else}}N/A{{/if}}</td>
                                    <td>{{#if product.markupPercentage}}{{product.markupPercentage}}&#37;{{else}}N/A{{/if}}</td>
                                    <td>{{#if product.netMargin}}&pound;{{product.netMargin}}{{else}}N/A{{/if}}</td>
                                    <td>{{#if product.trackedDelivery}}<span class="text-success pe-7s-check pe-2x"></span>{{else}}<span class="text-danger pe-7s-close-circle pe-2x"></span>{{/if}}</td>
                                    <td>{{#if product.trackedDeliveryCost}}&pound;{{product.trackedDeliveryCost}}{{else}}N/A{{/if}}</td>
                                    <td>{{#if product.ePacketDelivery}}<span class="text-success pe-7s-check pe-2x"></span>{{else}}<span class="text-danger pe-7s-close-circle pe-2x"></span>{{/if}}</td>
                                    <td>{{#if product.ePacketCost}}{{product.ePacketCost}}{{else}}N/A{{/if}}</td>
                                    <td>
                                      {{getSupplierName product.supplierId}}
                                    </td>
                                    <td>
                                      {{#if equals product.status 'active'}}
                                        <span class="text-success pe-7s-check pe-2x" title="Active"></span>
                                        {{/if}}
                                      {{#if equals product.status 'inactive'}}
                                        <span class="text-warning pe-7s-less pe-2x" title="Inactive"></span>
                                        {{/if}}
                                      {{#if equals product.status 'oos'}}
                                        <span class="text-info pe-7s-attention pe-2x" title="Out of Stock"></span>
                                        {{/if}}
                                      {{#if equals product.status 'removed'}}
                                        <span class="text-danger pe-7s-close-circle pe-2x" title="Removed"></span>
                                      {{/if}}
                                    </td>
                                    <td>
                                      <div class="btn-group" role="group" aria-label="Tools">
                                        {{#if product.shopifyLink}}
                                          <a href="{{product.shopifyLink}}" class="btn btn-success" title="View this product's Shopify page" target="_blank"><span class="pe-7s-cart"></span></a>
                                        {{/if}}
                                        {{#if product.oberloLink}}
                                          <a href="{{product.oberloLink}}" class="btn btn-info" title="View this product's Oberlo page" target="_blank"><span class="pe-7s-rocket"></span></a>
                                        {{/if}}
                                        <button type="button" class="btn btn-primary edit" title="Edit this product"><span class="pe-7s-pen"></span></button>
                                        <button type="button" class="btn btn-danger delete" title="Delete this product"><span class="pe-7s-trash"></span></button>
                                      </div>
                                    </td>
                                    <!-- <td>
                                      {{supplier.createdAt}}
                                    </td> -->
                                  </tr>
                                {{/each}}

                                </tbody>
                            </table>
                            {{/if}}
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</template>
