<template name="tableStyles">

    <div class="container-fluid">

        {{> pageHeader category='Table design' section='General' title='Table styles' icon="pe-7s-menu" desc='Examples of various designs of tables.' }}

        <div class="row">

            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        {{>panelTools }}
                        Basic example
                    </div>
                    <div class="panel-body">
                        <p>For basic styling—light padding and only horizontal dividers—add the base class <code>.table</code> to any <code>&lt;table&gt;</code>. It may seem super redundant, but given the widespread use of tables for other plugins like calendars and date pickers, we've opted to isolate our custom table styles.</p>

                        <div class="table-responsive">
                            <table cellpadding="1" cellspacing="1" class="table">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Street Address</th>
                                    <th>City</th>
                                    <th>Country</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Abraham</td>
                                    <td>076 9477 4896</td>
                                    <td>294-318 Duis Ave</td>
                                    <td>Vosselaar</td>
                                    <td>Belgium</td>
                                </tr>
                                <tr>
                                    <td>Phelan</td>
                                    <td>0500 034548</td>
                                    <td>680-1097 Mi Rd.</td>
                                    <td>Lavoir</td>
                                    <td>Pakistan</td>
                                </tr>
                                <tr>
                                    <td>Raya</td>
                                    <td>(01315) 27698</td>
                                    <td>Ap #289-8161 In Avenue</td>
                                    <td>Santomenna</td>
                                    <td>Burkina Faso</td>
                                </tr>
                                <tr>
                                    <td>Azalia</td>
                                    <td>0500 854198</td>
                                    <td>226-4861 Augue. St.</td>
                                    <td>Newtown</td>
                                    <td>Christmas Island</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-filled">
                    <div class="panel-heading">
                        {{>panelTools }}
                        Striped and hover rows
                    </div>
                    <div class="panel-body">
                        <p>Use <code>.table-striped</code> to add zebra-striping to any table row within the <code>&lt;tbody&gt;</code>.
                            Add <code>.table-hover</code> to enable a hover state on table rows within a <code>&lt;tbody&gt;</code>.</p>

                        <div class="table-responsive">
                            <table cellpadding="1" cellspacing="1" class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Street</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Henry</td>
                                    <td>Purus Gravida Sagittis Limited</td>
                                    <td>055 1753 4032</td>
                                </tr>
                                <tr>
                                    <td>Shelly</td>
                                    <td>Posuere Enim Inc.</td>
                                    <td>0313 143 2317</td>
                                </tr>
                                <tr>
                                    <td>Edan</td>
                                    <td>Quisque Imperdiet Company</td>
                                    <td>076 1743 8649</td>
                                </tr>
                                <tr>
                                    <td>Sophia</td>
                                    <td>Quam Incorporated</td>
                                    <td>0863 826 7513</td>
                                </tr>
                                <tr>
                                    <td>Griffith</td>
                                    <td>Tempor Erat Corp.</td>
                                    <td>0845 46 45</td>
                                </tr>
                                <tr>
                                    <td>Shelly</td>
                                    <td>Posuere Enim Inc.</td>
                                    <td>0313 143 2317</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        {{>panelTools }}
                        Bordered striped basic table
                    </div>
                    <div class="panel-body">
                        <p>Add <code>.table-bordered</code> for borders on all sides of the table and cells.</p>

                        <div class="table-responsive">
                            <table cellpadding="1" cellspacing="1" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Street Address</th>
                                    <th>City</th>
                                    <th>Country</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Abraham</td>
                                    <td>076 9477 4896</td>
                                    <td>294-318 Duis Ave</td>
                                    <td>Vosselaar</td>
                                    <td>Belgium</td>
                                </tr>
                                <tr>
                                    <td>Phelan</td>
                                    <td>0500 034548</td>
                                    <td>680-1097 Mi Rd.</td>
                                    <td>Lavoir</td>
                                    <td>Pakistan</td>
                                </tr>
                                <tr>
                                    <td>Raya</td>
                                    <td>(01315) 27698</td>
                                    <td>Ap #289-8161 In Avenue</td>
                                    <td>Santomenna</td>
                                    <td>Burkina Faso</td>
                                </tr>
                                <tr>
                                    <td>Azalia</td>
                                    <td>0500 854198</td>
                                    <td>226-4861 Augue. St.</td>
                                    <td>Newtown</td>
                                    <td>Christmas Island</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-filled">
                    <div class="panel-heading">
                        {{>panelTools }}
                        Bordered striped and condensed table inside filled panel
                    </div>
                    <div class="panel-body">
                        <p>Add <code>.table-condensed</code> to make tables more compact by cutting cell padding in half.</p>

                        <div class="table-responsive">
                            <table cellpadding="1" cellspacing="1" class="table table-hover table-striped table-bordered table-condensed">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Street</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Henry</td>
                                    <td>Purus Gravida Sagittis Limited</td>
                                    <td>055 1753 4032</td>
                                </tr>
                                <tr>
                                    <td>Shelly</td>
                                    <td>Posuere Enim Inc.</td>
                                    <td>0313 143 2317</td>
                                </tr>
                                <tr>
                                    <td>Edan</td>
                                    <td>Quisque Imperdiet Company</td>
                                    <td>076 1743 8649</td>
                                </tr>
                                <tr>
                                    <td>Sophia</td>
                                    <td>Quam Incorporated</td>
                                    <td>0863 826 7513</td>
                                </tr>
                                <tr>
                                    <td>Griffith</td>
                                    <td>Tempor Erat Corp.</td>
                                    <td>0845 46 45</td>
                                </tr>
                                <tr>
                                    <td>Shelly</td>
                                    <td>Posuere Enim Inc.</td>
                                    <td>0313 143 2317</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="row">


            <div class="col-md-12">
                <div class="panel panel-filled">
                    <div class="panel-heading">
                        {{>panelTools }}
                        Responsive tables
                    </div>
                    <div class="panel-body">
                        <p>Create responsive tables by wrapping any <code>.table</code> in <code>.table-responsive</code> to make them scroll horizontally on small devices (under 768px). When viewing on anything larger than 768px wide, you will not see any difference in these tables.</p>

                        <div><h5>Vertical clipping/truncation</h5>

                            <p>Responsive tables make use of <code>overflow-y: hidden</code>, which clips off any content that goes beyond the bottom or top edges of the table. In particular, this can clip off dropdown menus and other third-party widgets.</p></div>

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Table heading</th>
                                    <th>Table heading</th>
                                    <th>Table heading</th>
                                    <th>Table heading</th>
                                    <th>Table heading</th>
                                    <th>Table heading</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Table heading</th>
                                    <th>Table heading</th>
                                    <th>Table heading</th>
                                    <th>Table heading</th>
                                    <th>Table heading</th>
                                    <th>Table heading</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                    <td>Table cell</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</template>
