<template name="activity">

  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12">
        <div class="panel m-b-none">
          <div class="panel-body">
            <h3 class="m-b-xs"><i class="pe pe-7s-graph1 text-warning m-r-xs"></i> Activity <sup>example</sup></h3>
            <hr/>
            <p class="small">
              <span class="c-white">Monitoring view provide real time</span> data from geographically distributed servers. Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
            <hr/>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-5">

        <div class="panel">
          <div class="panel-body">

            <h4 class="m-t-n-sm m-b-xs">Server activity</h4>
            <samll>Real time geographically activity</samll>
            <div id="serverMap"></div>

            <div class="row">

              <div class="col-xs-6">
                <div class="panel panel-filled">

                  <div class="panel-body">
                    <h2 class="m-b-none server1">
                                            12%
                                        </h2>
                    <div class="small">Memory usage</div>
                    <div class="slight m-t-sm"><i class="fa fa-clock-o"> </i> Updated: <span class="c-white time">19:44:30 pm</span> </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="panel panel-filled">
                  <div class="panel-body">
                    <h2 class="m-b-none server2">
                                            140
                                        </h2>
                    <div class="small">CPU1 Usage</div>
                    <div class="slight m-t-sm"><i class="fa fa-clock-o"> </i> Updated: <span class="c-white time">11:22:15 pm</span> </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-6">
                <div class="panel panel-filled">

                  <div class="panel-body">
                    <h2 class="m-b-none server3">
                                            206
                                        </h2>
                    <div class="small">CPU2 Usage</div>
                    <div class="slight m-t-sm"><i class="fa fa-clock-o"> </i> Updated: <span class="c-white time">04:44:32 pm</span> </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="panel panel-filled">
                  <div class="panel-body">
                    <h2 class="m-b-none server4">
                                            140
                                        </h2>
                    <div class="small">CPU3 Usage</div>
                    <div class="slight m-t-sm"><i class="fa fa-clock-o"> </i> Updated: <span class="c-white time">11:42:11 pm</span> </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-7">

        <div class="panel panel-filled">
          <div class="panel-body">

            <div class="table-responsive">
              <table class="table" id="logsTable">
                <thead>
                  <tr>
                    <th>
                      Job ID
                    </th>
                    <th>
                      IP
                    </th>
                    <th>
                      Time
                    </th>
                    <th>
                      Value
                    </th>
                    <th>
                      Usage
                    </th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td> 43 AT_DFrtVs</td>
                    <td> 32.52.33.65</td>
                    <td> 16:55:99 pm</td>
                    <td> 34</td>
                    <td> 54%</td>
                  </tr>
                  <tr>
                    <td> 43 AT_DFrtVs</td>
                    <td> 55.754.33.54</td>
                    <td> 10:33:11 pm</td>
                    <td> 32</td>
                    <td><span class="c-accent"> 24%</span></td>
                  </tr>
                  <tr>
                    <td> 43 AT_DFrtVs</td>
                    <td> 322.98.33.165</td>
                    <td> 11:21:53 pm</td>
                    <td> 92</td>
                    <td> 12%</td>
                  </tr>
                  <tr>
                    <td> 43 AT_DFrtVs</td>
                    <td> 100.22.33.65</td>
                    <td> 16:55:99 pm</td>
                    <td> 79</td>
                    <td> 44%</td>
                  </tr>
                  <tr>
                    <td> 43 AT_DFrtVs</td>
                    <td> 22.75.44.65</td>
                    <td> 16:55:99</td>
                    <td> 21</td>
                    <td> 61%</td>
                  </tr>
                  <tr>
                    <td> 43 AT_DFrtVs</td>
                    <td> 12.98.67.124</td>
                    <td> 12:23:61</td>
                    <td> 33</td>
                    <td><span class="c-accent">11%</span></td>
                  </tr>
                  <tr>
                    <td> 43 AT_DFrtVs</td>
                    <td> 32.52.33.65</td>
                    <td> 10:43:65 pm</td>
                    <td> 28</td>
                    <td> 32%</td>
                  </tr>
                  <tr>
                    <td> 43 AT_DFrtVs</td>
                    <td> 93.22.642.65</td>
                    <td> 15:33:53 pm</td>
                    <td> 85</td>
                    <td> 55%</td>
                  </tr>
                  <tr>
                    <td> 43 AT_DFrtVs</td>
                    <td> 100.22.33.65</td>
                    <td> 16:55:99 pm</td>
                    <td> 79</td>
                    <td> 44%</td>
                  </tr>
                  <tr>
                    <td> 43 AT_DFrtVs</td>
                    <td> 22.75.44.65</td>
                    <td> 16:55:99</td>
                    <td> 21</td>
                    <td> 61%</td>
                  </tr>
                  <tr>
                    <td> 43 AT_DFrtVs</td>
                    <td> 22.52.33.421</td>
                    <td> 14:33:99 pm</td>
                    <td> 93</td>
                    <td><span class="c-accent"> 71%</span></td>
                  </tr>
                  <tr>
                    <td> 43 AT_DFrtVs</td>
                    <td> 132.21.32.625</td>
                    <td> 16:55:44 pm</td>
                    <td> 32</td>
                    <td><span class="c-accent"> 10%</span></td>
                  </tr>
                  <tr>
                    <td> 43 AT_DFrtVs</td>
                    <td> 32.52.33.65</td>
                    <td> 17:66:55 pm</td>
                    <td> 34</td>
                    <td> 8%</td>
                  </tr>
                  <tr>
                    <td> 43 AT_DFrtVs</td>
                    <td> 93.22.642.65</td>
                    <td> 15:33:53 pm</td>
                    <td> 85</td>
                    <td> 55%</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</template>
